*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
   
}
::-webkit-scrollbar{
    width: 0px;
    scroll-behavior: smooth;
}

.page-cover{
    background-color: #20202c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232d2c39' fill-opacity='1'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.info-wrapper{
    background-color: #303542;
    border-radius: 10px 10px 0 0;
    
}
.content-wrapper{
    background-color: #212028;
    
}
.link-wrapper{
    background-color: #212028;
    border-radius: 0 0 10px 10px ;
}
.content{
    background-color: transparent;
}
.content .inner-content{
    background-color: #252430;
}
.pseudo-line::after{
    content: "";
   display:block;
   position: relative;
    top:0.5rem;
    background-color: #303542;
    width:100%;
    height: 2px;
}
.active{
  color:#1DA1F2
}
.skill-box{
    background-color: #2d2c39;
}
